.back {
  background-color: rgb(250, 233, 217);
  height: 100vh;
  padding: 2rem;
  color: #333;
}

.main-container {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50px;
}

.header h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.add-task {
  background: #f59e0b;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
}

.add-task:hover {
  background: #d97706;
}

/* Task Board */
.task-board {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.task-card {
  background: #fef08a;
  width: 240px;
  min-height: 170px;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 2px 4px 12px rgba(0,0,0,0.15);
  transform: rotate(-1deg);
  transition: transform 0.2s;
}

.task-card:hover {
  transform: rotate(0deg) scale(1.02);
}

.task-card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.task-card p {
  font-size: 0.95rem;
}
